<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenue sur {{title}}!
  </h1>
  <a href="http://localhost:4200/"><img width="300" src="http://www.covoiturage36.com/images/101-voiture.png" ></a>
</div>

<app-auth></app-auth>
<div *ngIf="!logGuard.canActivate()">
	<app-inscription></app-inscription>
</div>
<br/><br/><br/><br/>

<input type="text" name="depart" placeholder="Depart" [(ngModel)] = "depart">
<input type="text" name="arrivee" placeholder="Arrivée" [(ngModel)] = "arrive">
<input type="date" name="date" [(ngModel)] = "jour" >
<a *ngIf="depart && arrive" [routerLink] = "['search',depart,arrive,jour]" >Rechercher</a>

<p>
<span *ngIf ="depart || arrive">
	Tous les trajets de {{depart}} à {{arrive}} 
</span>
<span *ngIf="depart && arrive && jour">pour le {{jour | date : "dd/MM/yyyy"}}</span>
</p>
<div *ngIf = "logGuard.canActivate()">
	<router-outlet></router-outlet>
</div>

